/build
/Admin_Backend
/node_modules
/test
/src/reportWebVitals.js
/src/App.test.js
/package-lock.json
/package.json
/test
/test.txt
/.firebaserc
/functions/AdminCredential.json
/functions/package-lock.json
/functions/package.json
/firebase-debug.log
/ui-debug.log
/functions/ui-debug.log
/functions/node_modules
/firebase.json 
/src/App.js
/functions
/functions/test.js
/src/TestCase.jsx
/src/MenuItem.jsx
/src/ItemEditor.jsx
/src/Admin/FirebaseConfig.js
/src/Admin/CreateAdmin.js
.env
/server/node_modules
/src/test.css
/backend/node_modules
/backend/package-lock.json
/backend/package.json