:root {
    --black: #000000;
    --white: #ffffff;
    --gray: #dddddd;
    --untArmygreen: #6a874c;
    --untBackground: #008c39;
    --untParakeetGreen: #59a909;
    --untOliveGreen: #56c031;
}
h1 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
  }
  
  
  button {
    background-color: var(--untParakeetGreen);
    color: #fff;
    border: none;
    border-radius: 3px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-right: 10px;
  }
  
  button:hover {
    background-color: var(--black);
  }
  
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 10px;
    margin-top: 10px;
  }
  
  li button {
    background-color: var(--untBackground);
    color: #fff;
    border: none;
    border-radius: 3px;
    padding: 5px 10px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.2s;
  }
  
  li button.edit-button {
    background-color: var(--untParakeetGreen);
  }
  
  li button:hover {
    background-color: var(--black);
  }
  

textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 16px;
    resize: vertical; /* Allow vertical resizing */
  }

  .comment-separator {
    height: 1px;
    background-color: #ccc;
    margin: 10px 0;
  }
.notification-item {
  display: flex;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 10px;
}

.notification-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 5px;
}

.notification-text {
  font-size: 16px;
}

.notification-buttons {
  display: flex;
}
.notification-image {
  max-width: 200px; 
  margin-right: 20px; 
}

.notification-content {
  flex: 1; /* Take up remaining horizontal space */
}
