.auth-page {
  width: 100%;
  background-color: var(--background-color);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--on-background-color);
  padding: 2rem 0;
}
.auth-form {
  display: flex;
  flex-direction: column;
  width: min(30rem, 90%);
  padding: 2rem;
  gap: 2rem;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  background-color: var(--off-background-color);
  position: relative;
}

.auth-form form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

a {
  color: var(--primary-color);
}
a:active {
  color: var(--primary-color);
}
.form-name {
  font-size: 2rem;
  color: var(--on-background-color);
  font-weight: var(--font-weight-bold);
  text-align: center;
}
