/*
1. colors: #d1d7dc
*/

.section-cart {
  padding: 2rem 6rem 5rem 6rem;
}

.section-cart__heading {
  font-size: 1.875rem;
  font-weight: 700;
}

.section-cart__main {
  display: flex;
  justify-content: space-between;
  gap: 5rem;
  flex-wrap: wrap;
}

.cart-items {
  flex: 75;
  flex-shrink: 1
}

.section-cart__checkout {
  flex: 25;
}

/* CHECKOUT */

/* Button */
.checkout-btn:link, 
.checkout-btn:visited {
  text-decoration: none;
  padding: 1em 3em;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 2px;
  display: block;
  text-align: center;
  font-size: 1.125rem;
  color: white;
  background-color: var(--primary-color);
  transition: all .3s;
  margin-bottom: 1rem;
  outline: none;
}

.checkout-btn:hover {
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  background-color: #008c39;
  transform: translateY(-3px);
  
}

.checkout-btn:active {
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.3);
  transform: translateY(-1px);
}

/* Text */
.checkout__text {
  font-size: 1rem;
  color: #707070;
  font-weight: 700;
  margin: 0;
  padding: 0;
  margin-bottom: 1rem;
}

.checkout__price-discount {
  font-size: 2rem;
  margin: 0;
  padding: 0;
  font-weight: 700;
  margin-bottom: .5rem;
}

.checkout__price-original {
  font-size: 1.25rem;
  font-weight: 600;
  color:  #707070;
  text-decoration: line-through;
  margin: 0;
  margin-bottom: .5rem;
}

.discount-p {
  margin: 0;
  margin-bottom: 1.5rem;
  font-size: 1.125rem;
  color: '#444'
}

.promotion-p {
  font-weight: 700;
  letter-spacing: 1px;
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-size: 1.125rem;
}

.section-promotion input {
  outline-offset: -4px;
  padding: 0 1rem;
  color: #707070;
  text-transform: uppercase;
  font-weight: 600;
}

.section-coupon {
  display: flex;
  column-gap: 2px;
}

.section-coupon__btn:link,
.section-coupon__btn:visited {
  text-decoration: none;
  font-size: 1rem;
  background-color: var(--primary-color);
  padding: .75rem 2rem;
  color: white;
  transition: all .3s;
  display: inline-block;
  outline: none;
}

.section-coupon__btn:active,
.section-coupon__btn:hover {
  background-color: #008c39;
}


/* --------------- */
/* CART ITEM */
/* --------------- */
.cart-item {
  display: flex;
  justify-content: space-between;
  column-gap: 2rem;
  border-top: 2px solid #d1d7dc;
  padding: 1rem 0;
  flex-wrap: wrap;
}

.cart-item__details {
  flex: 95;
  column-gap: 2rem;
  display: flex;
  flex-wrap: wrap;
}

.cart-item-img {
  width: 12rem;
  height: 12rem;
  flex: 15;
  object-fit: conver;
  display: inline-block;
}

.cart-item-info {
  flex: 85;
}



.cart-item__name,
.cart-item__desc,
.cart-item__category {
  margin: 0;
  padding: 0;
}

.cart-item__name {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.cart-item__desc {
  color: #707070;
  font-size: 0.875rem;
}

.cart-item__price {
  font-size: 1.25rem;
  flex: 5;
  font-weight: 700;

}

.cart-quantity {
  padding: 0;
  margin: 0;
}

.cart-action {
  display: flex;
  gap: 3rem;
  margin-top: 2rem;
  align-items: center;
}

.cart-action__add {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.cart-action__add button,
.cart-action__add button:hover {
  margin: 0;
  padding: 0 1rem;
  height: 2rem;
  background-color: white;
  font-size: 1.25rem;
  color: var(--primary-color);
  border: 2px solid #008c39;
  outline: none;
}

@media screen and (max-width: 600px) {
  .cart-action {
    flex-direction: column;
  }

  .cart-item-price-div {
    margin: auto;
  }
}

/* remove btn */
.cart-action__remove:link,
.cart-action__remove:visited {
  text-decoration: none;
  color: var(--primary-color);
  border-bottom: 3px solid var(--primary-color);
  padding: 4px 8px;
  display: inline-block;
  outline: none;
  transition: all .3s;
}

.cart-action__remove:hover {
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  transform: translateY(-3px);
  color: white;
  background-color: var(--primary-color);
}
.cart-action__remove:active {
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.2);
  transform: translateY(-1px);
}


/* --------------- */
/* SECTION NO ITEM */
/* --------------- */

.section-no-item  p {
  margin: 0;
  margin-bottom: 1rem;
  font-weight: 600;
}
.section-no-item__main {
  border: 1px solid #d1d7dc;
  padding: 4rem;
  text-align: center;
}

.section-no-item__main a:link, 
.section-no-item__main a:visited {
  text-decoration: none;
  display: inline-block;
  padding: 1rem 2.5rem;
  font-size: 1.125rem;
  background-color: var(--primary-color);
  color: white;
  outline: none;
  transition: all .3s;
}

.section-no-item__main a:hover {
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  transform: translateY(-3px);
  background-color: #008c39;
} 

.section-no-item__main a:active {
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.2);
  transform: translateY(-1px);
}