header {
  height: 8rem;
  width: 100%;
  padding: 2rem 6rem;
  box-sizing: border-box;
  background-color: var(--background-color);
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  position: relative;
}
header ul {
  margin: 0;
  padding: 0 14rem 0 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  gap: 3rem;
  z-index: 9000;
}
header li {
  border: none;
  border-radius: 0;
  padding: 0;
  margin: 0;
}
header a {
  font-size: 1.25rem;
  color: var(--on-background-color);
}
header ul li a:hover {
  text-decoration: none;
  color: var(--off-onbackground-color);
}
header nav{
  max-width: 100%;
}
.mobile-nav-toggle {
  padding: 0;
  border: none;
  position: absolute;
  right: 4rem;
  display: none;
  cursor: pointer;
  z-index: 9999;
}
.nav-icon{
  background-color: transparent;
}
.nav-icon:hover{
  background-color: transparent;
}
.nav-icon svg {
  background-color: transparent;
  font-size: 2rem;
  display: block;
  color: var(--on-background-color);
}
.nav-icon svg:hover {
  color: var(--off-onbackground-color);
}

.cart {
  position: absolute;
  right: 6rem;
  border: none;
  padding: 0;
  cursor: pointer;
}
.cart-quan {
  height: 1.5rem;
  width: 1.5rem;
  position: absolute;
  top: -1.25rem;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: var(--on-primary-color);
  background-color: var(--primary-color);
}
.logo {
  max-height: 100%;
  cursor: pointer;
}

.dark-mode-toggle {
  width: 2rem;
  height: 2rem;
  color: var(--on-background-color);
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  cursor: pointer;
  position: absolute;
  right: 10rem;
}
.dark-mode-toggle svg {
  display: block;
}
@media (max-width: 768px) {
  header {
    position: relative;
    padding: 2rem;
  }
  header ul {
    padding-top: 8rem;
    padding-right: 0;
    position: fixed;
    inset: 0 0 0 30%;
    flex-direction: column;
    background-color: var(--off-background-color);
    border-left: 0.25rem solid var(--off-primary-color);
    transform: translateX(100%);
    align-items: center;
  }
  header ul[navclosed="false"] {
    transform: translateX(0%);
    transition: transform 0.2s ease-out;
  }
  .mobile-nav-toggle {
    display: block;
    right: 2rem;
  }
  .cart {
    right: 6rem;
  }
  .dark-mode-toggle {
    position: static;
  }
}
