.hero {
  width: 100%;
  max-width: 100%;
  height: 450svh;
  padding: 4rem 6rem 0 6rem;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1.5fr 1.5fr 2fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1.5fr 1.5fr 1.25fr;
  grid-template-areas:
    "slogan slogan p1"
    "p2 button p1"
    "award p3 quality"
    "shop shop shop"
    "hours hours hours"
    "hour1 hour1 hour1"
    "feature feature feature";

  background-color: var(--background-color);
  color: var(--on-background-color);
}
.hero div {
  min-height: 0;
  box-sizing: border-box;
}
.hero img {
  width: 100%;
  max-height: 100%;
  display: block;
}
.hero > div:nth-child(1) {
  grid-area: slogan;
}
.hero > div:nth-child(2) {
  grid-area: p1;
  padding-bottom: 10rem;
}
.hero > div:nth-child(3) {
  grid-area: p2;
}
.hero > div:nth-child(4) {
  grid-area: button;
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 1rem;
}
.hero > div:nth-child(5) {
  position: relative;
  left: 40%;
  grid-area: p3;
  padding-bottom: 1rem;
}
.hero > div:nth-child(6) {
  grid-area: award;
  padding-left: 5rem;
}
.hero > div:nth-child(7) {
  grid-area: quality;
  padding-left: 15rem;
}
.hero > div:nth-child(6),
.hero > div:nth-child(7) {
  display: flex;
  flex-direction: column;
  padding-top: 4rem;
  gap: 1rem;
  align-items: center;
  text-align: center;
}
.hero > div:nth-child(8) {
  grid-area: feature;
  background-color: var(--off-background-color);
  margin: 0 -6rem;
  padding: 2rem 6rem 0 6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  box-sizing: border-box;
}
.hero > div:nth-child(9) {
  grid-area: hours;
}
.hero > div:nth-child(10) {
  grid-area: hour1;
  position: relative;
}

.hero > div:nth-child(11) {
  grid-area: shop;
}
.hero .icon {
  width: 96px;
  height: 96px;
}
.hero p {
  max-width: 35rem;
  font-size: 1rem;
  font-weight: var(--font-weight-normal);
}
.hero h4 {
  font-weight: var(--font-weight-medium);
  font-size: 1.5rem;
  margin: 0;
  color: var(--on-background-color);
}
.hero h2 {
  font-size: 3rem;
}
.slogan {
  grid-area: slogan;
  font-size: 5rem;
  font-weight: var(--font-weight-bold);
  color: var(--on-background-color);
  font-family: "Playfair Display";
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}
.hero a svg{
  margin-bottom: -0.15rem;
}
.feature {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.feature span {
  text-align: center;
  width: 20rem;
}
.feature svg {
  font-size: 4rem;
  margin-bottom: 3rem;
  color: var(--primary-color);
}

.hours {
  display: flex;
  padding: 2rem 0;
}
.hours span {
  flex: 3 1;
  position: relative;
  overflow-y: hidden;
}
.hours h2 {
  margin-bottom: 0;
}
.hours div {
  flex: 4 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding-left: 4rem;
}
.hours div:nth-child(1) {
  padding: 0;
}
.hours-closed::after {
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0, 0.75);
  position: absolute;
  z-index: 999;
  top: 0;
  left: 0;
}
.hours-closed::before {
  content: "We're closed";
    width: 100%;
  font-size: 3rem;
  text-align: center;
  color: var(--white);
  text-shadow: 0 0 0.5rem #dddddd, 0 0 1rem #ff0000, 0 0 1.5rem #ff0000,
    0 0 3rem #ff0000, 0 0 4rem #ff0000, 0 0 6rem #ff0000, 0 0 8rem #ff0000,
    0 0 10rem #ff0000;
  position: absolute;
  top: 50%;
  z-index: 9999;
}
.hours-open::before {
  content: "We're open";
  width: 100%;
  text-align: center;
  font-size: 3rem;
  padding: 2rem 0;
  color: var(--white);
  text-shadow: 0 0 0.5rem #ffffff, 0 0 1rem var(--primary-color),
    0 0 1.5rem var(--primary-color), 0 0 3rem var(--primary-color),
    0 0 4rem var(--primary-color);
  position: absolute;
  bottom: 0;
  background-color: rgb(0, 0, 0, 0.3);
}
.shop {
  background-color: var(--off-background-color);
  margin: 0 -6rem;
  padding: 0 6rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.shop div {
  
  flex: 1;
  position: relative;
  cursor: pointer;
  min-height: 200px;
  min-width: 200px;
}
.shop h2 {
  flex: 1.25;
}
.shop span {
  position: absolute;
  bottom: 0;
  z-index: 9999;
  height: 5rem;
  width: 100%;
  color: var(--white);
  font-weight: var(--font-weight-medium);
  font-size: 1.5rem;
  background-color: rgb(51, 51, 51, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.2s ease-in;
  gap: 1rem;
}
.shop div:hover span {
  background-color: rgb(51, 51, 51, 0.6);
}
.shop div:hover svg {
  translate: 0.5rem;
}
@media (width < 768px) {
  .hero {
    height: 1150vh;
    height: 1150svh;
    padding: 4rem 2rem 0 2rem;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 0.5fr repeat(5, 1fr) 5fr repeat(3, 3fr);
    grid-template-areas:
      "slogan"
      "button"
      "p1"
      "p2"
      "award"
      "p3"
      "quality"
      "shop"
      "hours"
      "hour1"
      "feature";
  }

  .slogan {
    align-items: center;
    text-align: center;
  }
  .hero > div:nth-child(2) {
    padding: 2rem 0;
  }
  .hero > div:nth-child(3) {
    padding: 2rem 0;
  }
  .hero > div:nth-child(4) {
    justify-content: flex-start;
  }
  .hero > div:nth-child(5) {
    position: static;
  }
  .hero > div:nth-child(6){
    padding-left: 0;
  }
  .hero > div:nth-child(7) {
    padding-left: 0;
  }
  .hero > div:nth-child(8) {
    margin: 0;
    padding: 0;
  }
  .hero > div:nth-child(9) {
    flex-direction: column;
  }
  .hero > div:nth-child(10) {
    flex-direction: column-reverse;
  }
  .hero > div:nth-child(11) {
    flex-direction: column;
    padding: 0 0 2rem 0;
    margin: 0;
  }
  .feature {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 6rem;
  }
  .hours div {
    padding: 0;
    text-align: left;
  }
}
