.menu {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 2rem 6rem;
  box-sizing: border-box;
  align-items: flex-start;
  gap: 1rem;
  background-color: var(--background-color);
}

.menu-itemm {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, 300px);
  gap: 1rem;
  justify-content: space-between;
}
.menu-card {
  box-shadow: 0 2.4rem 4.8rem var(--off-background-color);
  cursor: pointer;
}

.menu-card img {
  border-radius: 0.75rem 0.75rem 0 0;
  width: 100%;
  height: 250px;
}

.menu-card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--on-background-color);
  padding: 1rem;
  gap: 1rem;
}
.menu-card-content > span:last-child{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.menu-card-price {
  font-weight: var(--font-weight-medium);
  color: var(--primary-color);
}
.menu svg {
  margin-bottom: -0.1rem;
}
.notification {
  border: 0.1rem solid var(--primary-color);
  position: fixed;
  top: 20vh;
  left: 50vw;
  transform: translate(-50%, -50%);
  background-color: var(--off-background-color);
  padding: 1rem 2rem;
  display: none;
  z-index: 9999;
}
.enable {
  display: block;
}
.edit-menu {
  height: 100%;
  width: 100%;
  background-color: var(--off-background-color);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
  box-sizing: border-box;
}
.edit-menu form {
  width: 100%;
  display:  flex;
  flex-direction: column;
}
.edit-menu form > div{
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 2rem;
}
.edit-menu form div > div{
  flex:1;
}
.edit-menu form > :last-child{
  align-items: center;
  justify-content: flex-end;
  gap: 1rem;
}
.edit-menu > div:last-child{
  align-self: flex-end;
}
.menu-filter{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.category-filter{
  display: flex;
  flex-direction: row;
  padding: 0.25rem;
  margin: 0.5rem;
  cursor: pointer;
}
.category-filter > * {
  cursor: pointer;
}
.category-filter label{
  font-weight: var(--font-weight-normal);
  margin: 0;
  display: inline;
}
.budget-planner{
  width: min(25rem, 100%);

  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 1rem;
}

.budget-planner input{
  background-color: var(--off-background-color);
}

@media (width < 768px) {
  .menu {
    padding: 2rem;
  }
  .menu-itemm {
    justify-content: center;
  }
  .edit-menu form div{
    flex-direction: column;
    gap: 0;
  }
  .edit-menu form > :last-child{
    flex-direction: row;
    align-items: flex-end;
  }
}