/* Payment.css */

/* CreditCardPage.css */

.credit-card-page {
  display: flex;
  justify-content: space-between;
  margin: 20px;
}

.img-cart {
  width: 100px;
  height: 100px;
  object-fit: contain;
  margin-right: 20px;
}

.items-section {
  flex: 1;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f0f0f0;
}

.items-section h2 {
  margin-top: 0;
}

.items-section ul {
  list-style-type: none;
  padding: 0;
}



.payment-section {
  flex: 1;
  width: 100%;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.payment-section h2 {
  margin: 0;
  padding: 0;
  font-size: 24px;
  color: #333;
}

.payment-section label {
  display: block;
  font-weight: bold;
  margin-top: 10px;
  color: #333;
}

.input-field {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  outline: none;
}

#payButton {
  background-color: #103817;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

#payButton:hover {
  background-color: #b30000;
}




/*new addition */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin-top: 20px; /* Adjust the margin based on your design */
}

.my-btn {
  background-color: #f0f0f0; /* Add a background color for better visibility */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px; /* Add margin to separate from other elements */
}

.total-pay, .total-pay-dicount {
  font-size: 16px;
  margin: 10px 0; /* Add spacing between the paragraphs */
}

/* Optional: Add media query for smaller screens */
@media screen and (max-width: 768px) {
  .my-btn {
    padding: 15px;
  }

  .total-pay, .total-pay-dicount {
    font-size: 14px;
  }
}
.items-section ul li {
  margin-bottom: 10px;
  font-size: 16px;
  color: #333;
  display: flex;
  justify-content: space-between;
  align-items: center; 
}
.my-btn {
  position: relative;
  top: 20px;
  left: 90px;
}

