.review-container {
  height: 100%;
  width: 100%;
  text-align: left;
  padding: 2rem 6rem;
  background-color: var(--background-color);
  box-sizing: border-box;
}
.rev-name {
  font-size: 2rem;
  margin: 0 0 1rem 0;
  padding: 0;
  font-weight: var(--font-weight-medium);
}
.rev {
  display: flex;
  column-gap: 3rem;
  padding-bottom: 4rem;
  border-bottom: 0.1rem solid var(--off-onbackground-color);
}
.rev > :nth-child(1) {
  flex: 1;
}
.rev > :nth-child(2) {
  flex: 2;
}
.rev img {
  height: 20rem;
  object-fit: cover;
}

.rev-desc {
  margin: 0;
  padding: 0;
  font-size: 1rem;
  color: var(--on-background-color);
}

.review-row {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  flex-wrap: wrap;
  gap: 20px;
  padding-bottom: 20px;
}

.loading {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  font-size: 24px;
  font-weight: 400;
}

/* -------------- */
/* FOOD SECTION */
/* -------------- */
.food-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 1.5rem;
  margin-top: 3rem;
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: 1200px;
}

.food {
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
  border-radius: 11px;
  overflow: hidden;
  transition: all 0.4s;
  width: 299px;
}

.food:hover {
  transform: translateY(-1.2rem);
  box-shadow: 0 3.2rem 6.4rem rgba(0, 0, 0, 0.06);
}

.img-container {
  height: 250px;
}

.food-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.food-header {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 0;
  color: #2d2f31;
  padding-bottom: 0.5rem;
}

.food-category {
  color: #2d2f31;
  margin: 0;
  font-size: 0.8rem;
  font-weight: 600;
  display: inline-block;
  padding: 2px 1rem;
  background-color: #eceb98;
}

.food-price {
  font-size: 1.25rem;
  font-weight: 600;
  color: #4d3105;
  margin: 0;
  padding-top: 0.5rem;
}

.food-content {
  padding: 1.5rem 0 1.5rem 2rem;
  margin: 0;
}

.rating-value {
  color: #4d3105;
  font-weight: 700;
  font-size: 1.125rem;
  margin-right: 4px;
}

.rating-star {
  font-size: 1.25rem;
  margin-right: 8px;
}

.review-count {
  color: #808080;
  font-size: 1rem;
}

.review-btn {
  font-weight: 500;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  margin: 0;
  margin-top: 1.5rem;
  transition: all 0.3s;
}

.review-btn:hover {
  background-color: #008c39;
}
/* -------------- */
/* SHOW MORE SECTION */
/* -------------- */
.show-more {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
}
.show-more-btn {
  border: 1px solid #00461d;
  padding: 1rem 2.5rem;
  background: #fff;
  max-width: max-content;
  color: #00461d;
  font-size: 1.25rem;
  font-weight: 500;
  transition: all 0.3s;
  cursor: pointer;
}

.show-more-btn:hover {
  cursor: pointer;
  color: #fff;
  background-color: #008c39;
  border-color: transparent;
}

/* -------------- */
/* FEEDBACK SECTION */
/* -------------- */

.feedback-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--background-color);
  padding: 2rem 6rem;
  border: 0.1rem solid var(--off-primary-color);
}
.feedback-page form {
  width: min(30rem, 85%);
  background-color: var(--off-background-color);
  padding: 1rem;
}

@media screen and (max-width: 768px) {
  .feedback {
    margin: 15px;
    margin-bottom: 50px;
  }
}

.feedback-info {
  margin: auto;
}

.feedback-form {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  margin: auto;
}

.feedback-input-div {
  margin: 15px;
}

.feedback-form textarea {
  grid-column: span 2;
  padding-right: 0rem;
}

.feedback-head {
  font-size: 2rem;
  color: #444;
  font-weight: 600;
  text-align: center;
  margin: 0;
  padding-top: 2rem;
}

.feedback-subhead {
  font-size: 1.125rem;
  text-align: center;
  margin: 0;
  padding: 0;
}

.feedback-input {
  width: 100%;
  height: 2.5rem;
}

.feedback-textarea {
  margin-left: 15px;
}
.feedback-img-box {
  background-image: linear-gradient(
      to right bottom,
      rgba(48, 231, 121, 0.35),
      rgba(12, 137, 62, 0.35)
    ),
    url("../Assets/eating.jpg");
  background-size: cover;
  background-position: center;
}

.feedback-submit {
  padding: 1rem 2rem;
  font-weight: 600;
  font-size: 1.125rem;
  letter-spacing: 2px;
  background-color: #00461d;
  transition: all 0.3s;
  margin: auto;
}

.feedback-submit:hover {
  background-color: #fff;
  color: #00461d;
}

/* -------------- */
/* REVIEW SECTION */
/* -------------- */

.rev-category {
  text-transform: uppercase;
  display: inline-block;
  background-color: #eceb98;
  font-size: 0.75rem;
  padding: 4px 1rem;
}

.rev-price {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 0;
  padding-top: 1rem;
}

.star-content {
  display: flex;
  padding-top: 0.875rem;
  gap: 4px;
  font-size: 1.125rem;
}
.star-icon {
  color: var(--yellow-4);
}
.star-count {
  margin: 0;
  color: var(--yellow-4);
  font-weight: 600;
}
.rev-count {
  margin: 0;
  color: #6a6f73;
  margin-left: 4px;
}

/* -------------- */
/* NUTRIENT SECTION */
/* -------------- */
.cal-cell {
  flex: 1;
  margin: 0;
  padding: 0;
  padding: 0.5rem 0.25rem;
}

.cal-table {
  margin-top: 2rem;
}
.cal-table-body tr {
  display: flex;
  border: 0.1rem solid var(--off-background-color);
  border-top: none;
}
.cal-table-head {
  background-color: var(--primary-color);
  color: var(--on-primary-color);
}
.cal-table-head tr {
  display: flex;
}
tr td {
  font-weight: var(--font-weight-normal);
}
/*  */

/**                 **/
/** COMMENT SECTION **/
/**                 **/
.comments-section {
  width: 100%;
  padding: 2rem 6rem;
  background-color: var(--background-color);
  box-sizing: border-box;
}
.comments-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-bottom: 2rem;
}
.user-comment {
  display: flex;
  flex-direction: row;
  gap: 50px;
  /* justify-content: space-between; */
}
.username-and-image {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.user-and-image img{
  width: 4rem;
  height: 4rem;
}


.date {
  color: var(--off-onbackground-color);
  font-size: 0.875rem;
  align-self: flex-end;
  position: relative;
  font-style: italic;
  position: absolute;
  right: 6rem;
}

/* -------------- */
/* REVIEW FORM SECTION */
/* -------------- */

.rev-form {
  padding: 2rem 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.rev-form textarea {
  background-color: var(--off-background-color);
}
.rev-form textarea::placeholder {
  color: var(--off-onbackground-color);
}
.rev-form-info {
  margin: auto;
}

.rev-form-stars {
  padding: 1rem 0;
  /* background-color: #00461d; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.rev-form-star {
  margin-left: 0.5rem;
  font-size: 2rem;
  transition: all 0.3s;
}

.rev-form-star:hover {
  cursor: pointer;
}

.rev-form-btn {
  padding: 1rem 2rem;
  font-weight: 600;
  letter-spacing: 1px;
  transition: all 0.3;
  margin: auto;
}

.rev-form-btn:hover {
  background-color: #008c39;
}

.comment-show-more-btn {
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (width < 1024px) {
  .rev {
    flex-direction: column;
  }
  .rev > :nth-child(1) {
    flex: 1;
  }
  .rev > :nth-child(2) {
    flex: 1;
  }
  .rev-img-box {
    padding-bottom: 2rem;
  }
}
@media (width < 768px) {
  .review-container {
    padding: 2rem;
  }
  .cal-table {
    display: flex;
    flex-direction: row;
  }
  .cal-table-head tr {
    flex-direction: column;
  }
  .cal-table-body tr {
    flex-direction: column;
    text-align: right;
    border: 0.1rem solid var(--off-background-color);
    border-left: none;
  }
  .cal-cell {
    padding: 1rem 0.5rem;
  }
  .comments-section{
    display: flex;
    flex-direction: column;
    padding: 2rem;
    align-items: center;
  }
  .user-comment{
    flex-direction: column;
    align-items: center;
    gap:0
  }
  .comments-container{
    flex-direction: column;
    text-align: center;
    margin-bottom: 5rem;
  }
  .date{
    position: static;
    align-self: center;
  }
}
