@import url("https://fonts.googleapis.com/css?family=Roboto");
@import url("https://fonts.googleapis.com/css?family=Playfair+Display");
@import "Button.css";
:root {
  --black: #000000;
  --white: #ffffff;
  --gray: #dddddd;
  --untArmygreen: #6a874c;
  --untBackground: #008c39;
  --untParakeetGreen: #59a909;
  --untOliveGreen: #56c031;
  --untBlack: #1f2200;
  --border-r-4: 4px;
  --border-r-8: 8px;
  --border-r-12: 12px;
  --border-r-16: 16px;
  --border-r-24: 24px;
  --border-r-32: 32px;
  --font-weight-normal: 400;
  --font-weight-medium: 600;
  --font-weight-bold: 700;
  --primary-green-0: #003315;
  --primary-green-1: #006629;
  --primary-green-2: #008c39;
  --primary-green-3: #0ac255;
  --primary-green-4: #20df6e;
  --primary-green-5: #52e08c;
  --primary-green-6: #81e4a9;
  --primary-green-7: #adebc6;
  --primary-green-8: #d7f4e3;
  --secondary-green-0: #0e3300;
  --secondary-green-1: #1e6105;
  --secondary-green-2: #308a0f;
  --secondary-green-3: #45ad1f;
  --secondary-green-4: #56c031;
  --secondary-green-5: #78e052;
  --secondary-green-6: #9ae87d;
  --secondary-green-7: #bbf0a8;
  --secondary-green-8: #ddf7d4;
  --red-0: #4e0909;
  --red-1: #7e1616;
  --red-2: #972020;
  --red-3: #af2c2c;
  --red-4: #cc3333;
  --red-5: #e05252;
  --red-6: #ec7979;
  --red-7: #f5a3a3;
  --red-8: #fdd8d8;
  --yellow-0: #332100;
  --yellow-1: #614105;
  --yellow-2: #916108;
  --yellow-3: #c2820a;
  --yellow-4: #f2a20d;
  --yellow-5: #f5b53d;
  --yellow-6: #f7c76e;
  --yellow-7: #fada9e;
  --yellow-8: #f7ebd4;
  --gray-0: #1a1a1a;
  --gray-1: #333333;
  --gray-2: #4d4d4d;
  --gray-3: #666666;
  --gray-4: #808080;
  --gray-5: #999999;
  --gray-6: #b3b3b3;
  --gray-7: #cccccc;
  --gray-8: #e6e6e6;
  --background: #FFF6E5;
  --primary-color: var(--primary-green-2);
  --primary-color-8: var(--primary-green-8);
  --primary-color-hover: var(--primary-green-1);
  --text-color: var(--gray-4);
  --text-color-hover: var(--primary-green-2);
  --on-primary-color: var(--white);
}
.dark-mode{
  --primary-color: var(--secondary-green-4);  
  --primary-color-8: var(--secondary-green-8);
  --primary-color-hover: var(--secondary-green-3);
  --text-color: var(--white);
  --text-color-hover: var(--secondary-green-4);
  --on-primary-color: var(--gray-0);
}
/*Global Style*/
html {
  font-size: 16px;
}
body {
  margin: 0;
  padding: 0;
  background-size: cover; /* Add this property to make the image fit within the body element */
  background-repeat: no-repeat; /* Optional: prevent image from repeating */
  background-position: center center; /* Optional: center the image horizontally and vertically */
} 
body,
input,
textarea,
button {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 1rem;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
.App {
  position: absolute;
  top: 0;
}
.sign {
  color: #fff;
}
label {
  font-weight: var(--font-weight-medium);
  color: var(--gray-2);
  display: block;
  margin-bottom: 0.25rem;
}
input[type="text"],
input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 8px;
  border: 1px solid var(--gray-8);
  border-radius: var(--border-r-4);
  box-sizing: border-box;
  background-color: var(--white);
}
input:focus {
  outline: 4px solid var(--primary-color-hover);
}
input::placeholder {
  color: var(--gray-6);
}
/* For accessibility, I'm not sure why*/
input:focus-visible {
  outline: 4px solid var(--primary-green-5);
}
#root{
  max-width: 100%;
  box-sizing: border-box;
}
.dark{
  --background: var(--gray-0);
  --call-to-action: var(--secondary-green-2);
  --text-color: var(--yellow-5);
}
.EagleImg {
  width: 5rem;
}

.untbar-eagle {
  position: absolute;
  left: 7px;
  top: 5%;
  height: 7rem;
}


.untHeaderTitle {
  flex-grow: 1;
}

.untHeaderCol1 {
  flex: 0.5;
}

.untHeaderCol2 {
  flex: 2;
}

.untHeaderCol3 {
  flex: 1;
  align-items: center;
  align-content: center;
}

.Header_btn {
  color: var(--white);
  background-color: var(--black);
  transition: transform 0.2s ease-in-out;
}

.Header_btn:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.untbarText {
  margin: 0;
}

.untHeaderLogin {
  align-content: center;
}

.MenuPage {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.MenuBody {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 10px;
}

.card {
  width: 270px;
  margin: 20px;
  transition: transform 0.2s ease-in-out;
}

.card:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.card__image {
  margin-bottom: 0;
}

.card_NameAndPrice {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card__title {
  margin: 4px;
}

.card_price {
  margin: 4px;
}

.card_rating {
  margin: 0;
}

.card__location {
  background-color: var(--untBackground);
  color: var(--white);
  border-radius: 3px;
  height: 20px;
  width: 115px;
  margin-top: 10;
  font-size: x-small;
  display: flex;
  align-items: center;
  justify-content: center;
}
.add-delete {
  background-color: var(--untBackground);
  color: var(--white);
  border-radius: 3px;
  height: 20px;
  width: 115px;
  margin-top: 10;
  font-size: x-small;
  display: flex;
  align-items: center;
  justify-content: center;
}

.headNavbar {
  background-color: var(--untBackground);
  width: 100%;
  position: absolute;
  top: 0;
  height: 60px;
  justify-content: center;
  align-items: center;
}

.footerDiv {
  background-color: var(--untBlack);
  margin-top: auto;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.footerTitle {
  color: var(--untOliveGreen);
  margin: 0;
}

.footerPara {
  color: var(--white);
  font-size: small;
  margin: 0;
}

.footerUNTCol {
  flex: auto;
}

.footerUNTColEnd {
  align-content: end;
}

.footerUNTColSection {
  margin: 2rem;
}

.footerUNTColTitle {
  color: var(--white);
}

.footerUNTColAddress {
  color: var(--white);
}

.footerUNTColLocation {
  color: var(--untOliveGreen);
}

.unt-logo {
  font-size: 1.2em;
  margin: 0;
}
.unt-title {
  font-size: 1.2em;
}
.unt-logo-f {
  color: #ffff;
}


*:focus {
  outline: 4px solid var(--primary-green-5);
}

.eagle-separator{
  width: 100%;
  height: 3rem;
  filter: invert(95%) sepia(32%) saturate(6667%) hue-rotate(357deg) brightness(104%) contrast(101%);
}

@media (width < 600px) {
  .footerDiv {
    flex-direction: column;
  }
  .decor {
    display: none;
  }
}
