@import url("https://fonts.googleapis.com/css?family=Roboto");
:root {
  --black: #000000;
  --white: #ffffff;
  --gray: #dddddd;
  --untArmygreen: #6a874c;
  --untBackground: #008c39;
  --untParakeetGreen: #59a909;
  --untOliveGreen: #56c031;
  --untBlack: #1f2200;
  --border-r-4: 4px;
  --border-r-8: 8px;
  --border-r-12: 12px;
  --border-r-16: 16px;
  --border-r-24: 24px;
  --border-r-32: 32px;
  --b-r-circle: 50%;
  --font-weight-bold: 700;
  --font-weight-normal: 400;
  --font-weight-medium: 600;
  --primary-green-0: #003315;
  --primary-green-1: #006629;
  --primary-green-2: #008c39;
  --primary-green-3: #0ac255;
  --primary-green-4: #20df6e;
  --primary-green-5: #52e08c;
  --primary-green-6: #81e4a9;
  --primary-green-7: #adebc6;
  --primary-green-8: #d7f4e3;
  --secondary-green-0: #0e3300;
  --secondary-green-1: #1e6105;
  --secondary-green-2: #308a0f;
  --secondary-green-3: #45ad1f;
  --secondary-green-4: #56c031;
  --secondary-green-5: #78e052;
  --secondary-green-6: #9ae87d;
  --secondary-green-7: #bbf0a8;
  --secondary-green-8: #ddf7d4;
  --red-0: #4e0909;
  --red-1: #7e1616;
  --red-2: #972020;
  --red-3: #af2c2c;
  --red-4: #cc3333;
  --red-5: #e05252;
  --red-6: #ec7979;
  --red-7: #f5a3a3;
  --red-8: #fdd8d8;
  --yellow-0: #332100;
  --yellow-1: #614105;
  --yellow-2: #916108;
  --yellow-3: #c2820a;
  --yellow-4: #f2a20d;
  --yellow-5: #f5b53d;
  --yellow-6: #f7c76e;
  --yellow-7: #fada9e;
  --yellow-8: #f7ebd4;
  --gray-0: #1a1a1a;
  --gray-1: #333333;
  --gray-2: #4d4d4d;
  --gray-3: #666666;
  --gray-4: #808080;
  --gray-5: #999999;
  --gray-6: #b3b3b3;
  --gray-7: #cccccc;
  --gray-8: #e6e6e6;
  --off-white: #f5f5f5;
}
/*Global Style*/
html {
  font-size: 16px;
}
body {
  margin: 0;
  padding: 0;
  background-size: cover; /* Add this property to make the image fit within the body element */
  background-repeat: no-repeat; /* Optional: prevent image from repeating */
  background-position: center center; /* Optional: center the image horizontally and vertically */
}
body,
input,
textarea,
button {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 1rem;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
.App {
  position: absolute;
  top: 0;
}
.sign {
  color: #fff;
}
label {
  font-weight: var(--font-weight-medium);
  color: var(--gray-2);
  display: block;
  margin-bottom: 0.25rem;
}
input[type="text"],
input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 8px;
  border: 1px solid var(--gray-8);
  border-radius: var(--border-r-4);
  box-sizing: border-box;
  background-color: var(--white);
}
input:focus {
  outline: 4px solid var(--primary-green-5);
}
input::placeholder{
  color: var(--gray-6);
}
/* For accessibility, I'm not sure why*/
input:focus-visible {
  outline: 4px solid var(--primary-green-5);
}
.EagleImg {
  width: 5rem;
}

.untbar-eagle {
  position: absolute;
  left: 7px;
  top: 5%;
  height: 7rem;
}

/* Navbar Home Menu Part */
.navbar {
  background-color: var(--black);
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.navbar:hover {
  
}

.nav-links {
  list-style: none;
  display: flex;
  padding-left: 100px;
}

.nav-item {
  margin-right: 1rem;
  color: var(--white);
}
.nav-head {
  text-decoration: none;
}

.nav-item {
  color: #fff;
  text-decoration: none;
  padding: 0.8rem;
}

.nav-item :hover {
  background-color: var(--white);
  color: var(--black);
}

.untbar {
  display: flex;
  background-color: var(--untBackground);
  color: var(--white);
  padding-top: 2vh;
}

.untHeaderTitle {
  flex-grow: 1;
}

.untHeaderCol1 {
  flex: 0.5;
}

.untHeaderCol2 {
  flex: 2;
}

.untHeaderCol3 {
  flex: 1;
  align-items: center;
  align-content: center;
}

.Header_btn {
  color: var(--white);
  background-color: var(--black);
  transition: transform 0.2s ease-in-out;
}

.Header_btn:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.untbarText {
  margin: 0;
}

.untHeaderLogin {
  align-content: center;
}

.MenuPage {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.MenuBody {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 10px;
}

.card {
  width: 270px;
  margin: 20px;
  transition: transform 0.2s ease-in-out;
}

.card:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.card__image {
  margin-bottom: 0;
}

.card_NameAndPrice {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card__title {
  margin: 4px;
}

.card_price {
  margin: 4px;
}

.card_rating {
  margin: 0;
}

.card__location {
  background-color: var(--untBackground);
  color: var(--white);
  border-radius: 3px;
  height: 20px;
  width: 115px;
  margin-top: 10;
  font-size: x-small;
  display: flex;
  align-items: center;
  justify-content: center;
}
.add-delete {
  background-color: var(--untBackground);
  color: var(--white);
  border-radius: 3px;
  height: 20px;
  width: 115px;
  margin-top: 10;
  font-size: x-small;
  display: flex;
  align-items: center;
  justify-content: center;

}

.headNavbar {
  background-color: var(--untBackground);
  width: 100%;
  position: absolute;
  top: 0;
  height: 60px;
  justify-content: center;
  align-items: center;
}

.footerDiv {
  background-color: var(--untBlack);
  margin-top: auto;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.footerTitle {
  color: var(--untOliveGreen);
  margin: 0;
}

.footerPara {
  color: var(--white);
  font-size: small;
  margin: 0;
}

.footerUNTCol {
  flex: auto;
}

.footerUNTColEnd {
  align-content: end;
}

.footerUNTColSection {
  margin: 2rem;
}

.footerUNTColTitle {
  color: var(--white);
}

.footerUNTColAddress {
  color: var(--white);
}

.footerUNTColLocation {
  color: var(--untOliveGreen);
}

.unt-logo {
  font-size: 1.2em;
  margin: 0;
}
.unt-title {
  font-size: 1.2em;
}
.unt-logo-f {
  color: #ffff;
}

/*Button*/
.primary-button {
  cursor: pointer;
  color: var(--white);
  font-weight: var(--font-weight-medium);
  background-color: var(--primary-green-2);
  border: none;
  border-radius: var(--border-r-4);
  padding: 0.75rem 1.25rem;
  transition: 0.2s ease-in;
}
.primary-button:hover {
  background-color: var(--primary-green-3);
}
.primary-button:disabled{
  cursor: default;
  background-color: var(--primary-green-8);
  color: var(--gray-5);
}
*:focus{
  outline: 4px solid var(--primary-green-5);
}
.secondary-button {
  cursor: pointer;
  color: var(--secondary-green-8);
  font-weight: var(--font-weight-medium);
  background-color: var(--secondary-green-4);
  border: none;
  border-radius: var(--border-r-4);
  padding: 0.75rem 1.25rem;
  transition: 0.2s ease-in;
}
.secondary-button:hover {
  color: var(--secondary-green-8);
  background-color: var(--secondary-green-3);
}
.te-expand {
  height: 0;
  overflow: hidden;
  animation: 0.1s 1 expand-text forwards;
}

@keyframes expand-text {
  0% {
    height: 0;
  }
  100% {
    height: 30px;
    overflow: visible;
  }
}
/*Text size*/
.te-size-12 {
  font-size: 0.75rem;
  line-height: calc(1.5 * 0.75rem);
}
.te-size-14 {
  font-size: 0.875rem;
  line-height: calc(1.5 * 0.875rem);
}
.te-size-16 {
  font-size: 1rem;
  line-height: calc(1.5 * 1rem);
}
.te-size-20 {
  font-size: 1.25;
  line-height: calc(1.5 * 1.25rem);
}
.te-size-24 {
  font-size: 1.5rem;
  line-height: calc(1.5 * 1.5rem);
}
.te-size-30 {
  font-size: 1.875rem;
  line-height: calc(1.5 * 1.875rem);
}
.te-size-36 {
  font-size: 2.25rem;
  line-height: calc(1.5 * 2.25rem);
}
.te-size-48 {
  font-size: 3rem;
  line-height: calc(1.2 * 3rem);
}
.te-size-60 {
  font-size: 3.75rem;
  line-height: calc(1.2 * 3.75rem);
}
.te-size-72 {
  font-size: 4.75rem;
  line-height: calc(1.2 * 4.75rem);
}
.te-we-md {
  font-weight: var(--font-weight-medium);
}
/*Text color*/
.te-color-primary-green-li {
  color: var(--primary-green-8);
}
.te-color-primary-green-da {
  color: var(--primary-green-0);
}
.te-color-primary-green-md {
  color: var(--primary-green-2);
}
.te-color-secondary-green-li {
  color: var(--secondary-green-8);
}
.te-color-secondary-green-da {
  color: var(--secondary-green-0);
}
.te-color-secondary-green-md{
  color: var(--secondary-green-4);
}
.te-color-red-li {
  color: var(--red-8);
}
.te-color-red-da {
  color: var(--red-0);
}
.te-color-red-md {
  color: var(--red-4);
}
.te-color-gray-li {
  color: var(--gray-8);
}
.te-color-gray-da{
  color: var(--gray-0);
}
.te-color-gray-md{
  color: var(--gray-4);
}
.te-color-yellow-li{
color: var(--yellow-8)
}
.te-color-yellow-md{
color: var(--yellow-4)
}
.te-color-yellow-da{
color: var(--yellow-0)
}
.te-invalid {
  color: var(--red-4);
  border-color: var(--red-4);
}

.box-invalid {
  box-shadow: 0 0 10px var(--red-4) !important;
}
.te-valid {
  color: var(--primary-green-2);
}
.te-neutral {
  color: var(--gray-3);
}
/*text style*/
.te-align-center {
  text-align: center;
}
/*text effect*/
.te-expand {
  height: 0;
  animation: exapnd 0.5s forwards;
}
/*Flex*/
.flex-row {
  display: flex;
  flex-direction: row;
}
.flex-col {
  display: flex;
  flex-direction: column;
}
.jc-sb {
  justify-content: space-between;
}
.jc-center {
  justify-content: center;
}
.jc-start {
  justify-content: flex-start;
}
.jc-end {
  justify-content: flex-end;
}
.ali-center {
  align-items: center;
}

.flex-1 {
  flex: 1;
}
/*Size*/
.w-100 {
  width: 100%;
}
.h-100 {
  height: 100%;
}
/*spacing*/
.m-r-8 {
  margin-right: 8px;
}
.m-l-8 {
  margin-left: 8px;
}
.gap-8 {
  gap: 8px;
}
.p-16 {
  padding: 0 16px;
}
@media (width < 600px) {
  .footerDiv {
    flex-direction: column;
  }
  .decor {
    display: none;
  }
}
