@import url("https://fonts.googleapis.com/css?family=Roboto");
@import url("https://fonts.googleapis.com/css?family=Playfair+Display");
@import "Button.css";
:root {
  --black: #000000;
  --white: #ffffff;
  --gray: #dddddd;
  --untArmygreen: #6a874c;
  --untBackground: #008c39;
  --untParakeetGreen: #59a909;
  --untOliveGreen: #56c031;
  --untBlack: #1f2200;
  --border-r-4: 4px;
  --border-r-8: 8px;
  --border-r-12: 12px;
  --border-r-16: 16px;
  --border-r-24: 24px;
  --border-r-32: 32px;
  --font-weight-normal: 400;
  --font-weight-medium: 600;
  --font-weight-bold: 700;
  --primary-green-0: #003315;
  --primary-green-1: #006629;
  --primary-green-2: #008c39;
  --primary-green-3: #0ac255;
  --primary-green-4: #20df6e;
  --primary-green-5: #52e08c;
  --primary-green-6: #81e4a9;
  --primary-green-7: #adebc6;
  --primary-green-8: #d7f4e3;
  --secondary-green-0: #0e3300;
  --secondary-green-1: #1e6105;
  --secondary-green-2: #308a0f;
  --secondary-green-3: #45ad1f;
  --secondary-green-4: #56c031;
  --secondary-green-5: #78e052;
  --secondary-green-6: #9ae87d;
  --secondary-green-7: #bbf0a8;
  --secondary-green-8: #ddf7d4;
  --red-0: #4e0909;
  --red-1: #7e1616;
  --red-2: #972020;
  --red-3: #af2c2c;
  --red-4: #cc3333;
  --red-5: #e05252;
  --red-6: #ec7979;
  --red-7: #f5a3a3;
  --red-8: #fdd8d8;
  --yellow-0: #332100;
  --yellow-1: #614105;
  --yellow-2: #916108;
  --yellow-3: #c2820a;
  --yellow-4: #f2a20d;
  --yellow-5: #f5b53d;
  --yellow-6: #f7c76e;
  --yellow-7: #fada9e;
  --yellow-8: #f7ebd4;
  --gray-0: #1a1a1a;
  --gray-1: #333333;
  --gray-2: #4d4d4d;
  --gray-3: #666666;
  --gray-4: #808080;
  --gray-5: #999999;
  --gray-6: #b3b3b3;
  --gray-7: #cccccc;
  --gray-8: #e6e6e6;
  --background: #FFF6E5;
  --background-color: var(--white);
  --off-background-color: var(--gray-8);
  --on-background-color: var(--gray-2);
  --off-onbackground-color: var(--gray-4);
  --primary-color: var(--primary-green-2);
  --off-primary-color: var(--primary-green-4);
  --on-primary-color: var(--white);
  --off-onprimary-color: var(--gray-8);
}
.dark-mode{
  --background-color: var(--gray-0);
  --off-background-color: var(--gray-1);
  --on-background-color: var(--white);
  --off-onbackground-color: var(--gray-7);
  --primary-color: var(--secondary-green-4);
  --off-primary-color: var(--secondary-green-5);
  --on-primary-color: var(--gray-1);
  --off-onprimary-color: var(--gray-4);
}
/*Global Style*/
html {
  font-size: 16px;
}
body {
  margin: 0;
  padding: 0;
  background-size: cover; /* Add this property to make the image fit within the body element */
  background-repeat: no-repeat; /* Optional: prevent image from repeating */
  background-position: center center; /* Optional: center the image horizontally and vertically */
} 
body,
input,
textarea,
button {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 1rem;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
.App {
  position: absolute;
  top: 0;
}
.sign {
  color: #fff;
}
label {
  font-weight: var(--font-weight-medium);
  color: var(--on-background-color);
  display: block;
  margin-bottom: 0.5rem;
}
input[type="text"],
input[type="email"],
input[type="password"],
input[type="file"],
input[type="select"],
input[type="tel" i],
select,
textarea {
  width: 100%;
  padding: 0.5rem;
  border: none;
  box-sizing: border-box;
  background-color: var(--background-color);
  color: var(--on-background-color);
  margin-bottom: 1.5rem;
}
input[type="checkbox"]{

  background-color: var(--primary-color);
  color: var(--on-primary-color);
}
input::placeholder {
  color: var(--off-onbackground-color);
}
#root{
  max-width: 100%;
}
p{
  line-height: 1.5rem;
  color: var(--on-background-color);
}
h1, h2, h3, h4, h5, h6{
  color: var(--on-background-color);
}
*:focus {
  outline: 3px solid var(--primary-green-5);
}
.te-invalid{
  color: var(--red-5)
}
.box-invalid{
  border: 0.2rem solid var(--red-5);
}
img{
  width: 100%;
}
.click-Handle:hover {
  cursor:pointer;
  color:green;
}
