.homepage {
    display: flex; 
    flex-direction: column;
    justify-content: space-between;
}
.home {
    display: flex; 
    flex-direction: column; 
    justify-content: space-between; 

    background-image: url("../src/images/cafeteria-photo.jpg"); 
    background-position: center; 
    background-size: cover; 
    background-repeat: no-repeat; 
    height: 900px; 
}
.home-text-one {
    font-size: 18px; 
    background-color: white; 
    color: black; 
    padding: 1 rem 2 rem;  
    
    max-width:30%; 
    max-height:fit-content;
    text-align: center; 
    margin: 50px; 
}


